<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="TalismanSqlForum">
    <meta name="description" content="Форум Talisman-Sql">
    <meta name="author" content="Talisman-Sql">
    <title>@ViewBag.Title – Talisman-Sql.Forum</title>

    <link href="~/Content/metro-ui/css/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @RenderSection("CKE", required: false)
    @RenderSection("scripts", required: false)
</head>
<body class="metro">
    <div class="row">
        <nav class="navigation-bar bg-transparent">
            <nav class="navigation-bar-content container gradient_header">
                <a class="element bg-transparent" href="http://Talisman-sql.ru">
                    Talisman-Sql.ru
                </a>
                <span class="element-divider"></span>
                <a class="element1 pull-menu" href="#"></a>
                <div class="element-menu">
                    <a class="element bg-transparent" href="@Url.Action("Index","ForumList")">
                        Форум
                    </a>
                    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "element input-element bg-transparent" }))
                    {
                        <div class="input-control text">
                            <input id="val" name="val" type="text" placeholder="Поиск..." style="border-radius:7px;">
                            <button class="btn-search"></button>
                        </div>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </nav>
    </div>
    <div class="grid">
        <div class="row container">
            <img src="~/Content/logo.png" />
        </div>
        <div class="row">
            <div class="container">
                <nav class="breadcrumbs">
                    @Html.MvcSiteMap().SiteMapPath()
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="container">
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="clearfix">
        <hr />
    </div>
    <div class="row">
        <footer>
            <nav class="navigation-bar bg-white fixed-bottom" style="border-top: 3px darkgray ridge;">
                <div class=" navigation-bar-content container">
                    <img style="width: 25px; height: 25px; float: left;" src="~/Content/l_.png">
                    <span class="element-divider"></span>
                    <a class="element bg-transparent fg-dark image-button image-left" href="http://talisman-sql.ru/#i201">
                        ООО "Талисман" 2014
                    </a><span class="element-divider"></span>
                    <a class="element place-right bg-transparent fg-dark image-button image-left" href="@Url.Action("Rules","Information")">
                        Правила форума
                    </a>
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>
