<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta lang="ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="TalismanSqlForum">
    <meta name="description" content="Форум Talisman-Sql">
    <meta name="author" content="Talisman-Sql">
    <title>@ViewBag.Title – Talisman-Sql.Forum</title>

    <link href="~/Content/metro-ui/css/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    @RenderSection("CKE", required: false)
    @RenderSection("scripts", required: false)
</head>
<body class="metro">
    <div class="grid">
        <div class="row container">
            <img src="~/Content/logo.png" style="padding-top:20px;" />
            <nav class="sidebar bg-transparent place-right" style="width: 180px !important;">
                <div class="margin10" style="padding:1px;">
                    <a class="place-left fg-black" href="http://Talisman-sql.ru" style="text-decoration: underline;">
                        Сайт
                    </a>
                    <a class="place-right fg-black" href="@Url.Action("Index","ForumList")" style="text-decoration: underline;">
                        Форум
                    </a>
                </div>
                <ul style="padding-top: 20px; font-family:'Trebuchet MS'">
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
            <div class="row">
                @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "element input-element bg-transparent no-margin" }))
                {
                    <div class="input-control text bg-transparent" style="width: 270px !important;">
                        <input id="_searchVal" name="_searchVal" type="text" placeholder="Поиск..." style="border-radius:7px;">
                        <button class="btn-search"></button>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="container">
                <nav class="breadcrumbs">
                    @Html.MvcSiteMap().SiteMapPath()
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>Вы зашли как(</text>
                        <a href="@Url.Action("ManageUser","Account")">
                            <i class="icon-pencil"></i>
                            @User.Identity.Name
                        </a>
                        <text>)</text>
                        <a href="@Url.Action("New","Notifications")"
                           class="fg-black">
                            <i class="icon-comments-4"></i>
                            @{
                        var c = TalismanSqlForum.Code.Notify.Count(User.Identity.Name);
                        <text>
                            @c
                        </text>
                            }
                        </a>
                    }
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clearfix">
        <hr />
    </div>
    <div class="row">
        <footer>
            <nav class="navigation-bar bg-white fixed-bottom" style="border-top: 3px darkgray ridge;">
                <div class=" navigation-bar-content container">
                    <a class="element bg-transparent fg-dark image-button image-left" href="http://talisman-sql.ru/#i201">
                        <em>Талисман, 2014</em>
                    </a>
                    <a class="element place-right bg-transparent fg-dark image-button image-left" href="@Url.Action("Rules","Rules")">
                        <em>Правила форума</em>
                    </a>
                </div>
            </nav>
        </footer>
    </div>
</body>
</html>
