<div class="panel">
    <div class="panel-header gradient_header">
        <h4 class="fg-white">Статистика форума</h4>
    </div>
    <div class="panel-content bg-white" style="padding:10px;">
        @{
            var t = TalismanSqlForum.Code.Stat.Stat_ForumList((int)ViewData["tForumList_id"]);
            <div class="row">
                <div class="place-left">
                    <p>Всего тем: @t.count_ForumThemes</p>
                    <p>Открыто тем сегодня: @t.count_NewForumThemes</p>
                    <p>Создано сообщений сегодня: @t.count_NewForumMessages</p>
                    <p>Открыто тем вчера: @t.count_OldForumThemes</p>
                    <p>Создано сообщений вчера: @t.count_OldForumMessages</p>
                    <p>Всего просмотров: @t.count_View</p>
                    <p>Всего пользователей на форуме @t.count_Users</p>
                </div>
            </div>
            <div class="row">
                <i class="icon-mail fg-grayDark"></i> На форуме нет новых сообщений
                <i class="icon-mail fg-orange"></i> Форум содержит новые сообщения
            </div>
            <div class="row">
                <i class="icon-attachment fg-grayDark"></i> В закрепленной теме нет новых сообщений
                <i class="icon-attachment fg-orange"></i> Закрепленная тема содержит новые сообщения
            </div>

        }
    </div>
</div>
