@model IEnumerable<TalismanSqlForum.Models.Forum.tForumList>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tForumList_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tForumList_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
