@model TalismanSqlForum.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="row">
    <div class="panel">
        <div class="panel-header gradient_header fg-white">
            <h4 class="fg-white">Регистрация</h4>
        </div>
        <div class="row bg-white reg_form" style="margin-top:0;">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "bg-white" }))
            {
                <div class="margin10">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <fieldset>
                        <legend></legend>
                        <label class="margin10">
                            <font class="fg-red">*</font> - <i class="fg-grayLight">Поля, обязательные для заполнения</i>
                        </label>                                                  
                        @Html.LabelFor(m => m.Email, new {@class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                        @Html.LabelFor(m => m.NickName, new { @class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.NickName)
                        </div>
                        @Html.LabelFor(m => m.Password, new { @class = "label_req" })
                        <div class="input-control password"
                             data-hint="1. В пароле должен быть по крайней мере один небуквенный или нецифровой символ (№ # : * ).
                             2. в пароле должен быть символы больше шести
                             3. хотя бы одна цифра
                             4. должен присутствовать хотя бы один caps символ"
                             data-hint-position="top">
                            @Html.PasswordFor(m => m.Password)
                            <button class="btn-reveal"></button>
                        </div>
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label_req" })
                        <div class="input-control password">
                            @Html.PasswordFor(m => m.ConfirmPassword)
                            <button class="btn-reveal"></button>
                        </div>

                        @Html.LabelFor(m => m.Name_Org, new { @class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.Name_Org)
                        </div>
                        @Html.LabelFor(m => m.Mnemo_Org, new { @class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.Mnemo_Org)
                        </div>
                        @Html.LabelFor(m => m.Inn, new { @class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.Inn)
                        </div>
                        @Html.LabelFor(m => m.Adres, new { @class = "label_req" })
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.Adres)
                        </div>
                        @Html.LabelFor(m => m.PhoneNumber)
                        <div class="input-control text">
                            @Html.TextBoxFor(m => m.PhoneNumber)
                        </div>

                        <button class="element button_reg gradient_header fg-white" type="submit" style="margin-top:10px; border-radius:7px;">
                            <i class="icon-enter on-left"></i>
                            Зарегистрироваться
                        </button>                        
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
