@using TalismanSqlForum.Models.Forum
@{
    ViewBag.Title = "Index";
}
<div class="panel">
    <div class="panel-header gradient_header fg-white">        
            <h4 class="fg-white">
                @ViewData["ForumThemes_Name"]
                @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator")))
                {
                    <a href="@Url.Action("Top", "ForumThemes", new { id = ViewData["ForumThemes_Id"] })" class="place-right fg-white">
                        @if ((bool)ViewData["tForumThemes_top"])
                        {
                            <i class="icon-link-2"
                               data-hint="Открепить"
                               data-hint-position="top">
                            </i>
                        }
                        else
                        {
                            <i class="icon-link"
                               data-hint="Закрепить"
                               data-hint-position="top"></i>
                        }
                    </a>
                    <a href="@Url.Action("Close", "ForumThemes", new { id = ViewData["ForumThemes_Id"] })" class="place-right fg-white">
                        @if ((bool)ViewData["tForumThemes_close"])
                        {
                            <i class="icon-unlocked"
                               data-hint="Открыть тему"
                               data-hint-position="top">
                            </i>
                        }
                        else
                        {
                            <i class="icon-locked-2"
                               data-hint="Закрыть"
                               data-hint-position="top"></i>
                        }
                    </a>
                    <a href="@Url.Action("Transfer","ForumThemes",new{id = ViewData["ForumThemes_Id"]})" class="place-right fg-white">
                        <i class="icon-tab"
                           data-hint="Перенести"
                           data-hint-position="top">
                        </i>
                    </a>
                    <a href="@Url.Action("Hide","ForumThemes",new{id = ViewData["ForumThemes_Id"]})" class="place-right fg-red">
                        <i class="icon-remove fg-red"
                           data-hint="Скрыть"
                           data-hint-position="top">
                        </i>
                    </a>
                }
                @if ((bool)ViewData["tForumThemes_top"])
                {
                        <i class="icon-attachment" data-hint="Тема закреплена" data-hint-position="top"></i>
                }
                    @if ((bool)ViewData["tForumThemes_close"])
                {
                        <i class="icon-locked-2" data-hint="Тема закрыта" data-hint-position="top"></i>
                }
</h4>
    </div>
    <div class="panel-content bg-white" style="margin-top:-5px;">
        <div class="row bg-white" style="
                                                                                                                       border-bottom-color: gray;
                                                                                                                       border-bottom-width: 1px;
                                                                                                                       border-bottom-style: solid;
                                                                                                                   ">            
            <div class="button bg-transparent fg-gray place-right">
                <i class="icon-calendar on-left"></i>
                @ViewData["ForumThemes_DateTime"]
            </div>
            <div class="fg-gray" style="margin-left:10px;">
                @ViewData["tUsers_Org"]
            </div>
        </div>
        <table>
            <tr>
                <td style="vertical-align: top;text-align: center;width: 10%;border-right:1px dotted lightgray">
                    <span class="tile-status">
                        @ViewData["tUsers_NickName"]
                    </span>
                    <div class="tile half" style="margin:10px;left:20%">
                        <div class="tile-content icon">
                            @foreach (var r in from r in (IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewData["roles"] let u = (TalismanSqlForum.Models.ApplicationUser)ViewData["tUsers"] where u.Roles.Any(a => a.RoleId == r.Id) select r)
                            {
                                switch (r.Name)
                                {
                                    case "admin":
                                        <i class="icon-user fg-darkRed"></i>
                                        break;
                                    case "moderator":
                                        <i class="icon-user fg-darkGreen"></i>
                                        break;
                                    default:
                                        <i class="icon-user fg-gray"></i>
                                        break;

                                }
                            }

                        </div>
                    </div>                    
                </td>
                <td>
                    <div class="row bg-white padding5">
                        @Html.Raw(ViewData["ForumThemes_Desc"])
                    </div>
                </td>
            </tr>
        </table>               
        @{
            var v = (List<int>)ViewData["tForumThemes_docnumber"];
            if (v.Count != 0)
            {
                <div class="row bg-white">
                    Поставлено замечание №
                    @foreach(var i in v)
                    {
                        <em>@i;</em>
                    }
                </div>                
            }
        }
        @if (User.Identity.IsAuthenticated && (bool)ViewData["ForumThemes_Is_Edit"] && (User.IsInRole("admin") || User.IsInRole("moderator")))
        {
            <div class="row bg-white">
                <a href="@Url.Action("CreateOffer", "Moder", new {id_mess = 0, id_theme = ViewData["ForumThemes_Id"] })"
                   class="button bg-transparent fg-gray  place-left">
                    <i class="icon-plus on-left"></i>
                    Замечание
                </a>
                <a href="@Url.Action("Edit", "ForumThemes", new { id = ViewData["ForumThemes_Id"] })"
                   class="button bg-transparent fg-gray  place-right">
                    <i class="icon-pencil on-left"></i>
                    Редактировать
                </a>
            </div>
        }
    </div>
</div>
@foreach (var item in (IEnumerable<TalismanSqlForum.Models.Forum.tForumMessages>)ViewData["tForumMessages"])
{
    <a id="m_@item.Id"></a>
    <div class="panel-content bg-white" style="margin-top:10px">

        <div class="row" style="
                                border-bottom-color: gray;
                                border-bottom-width: 1px;
                                border-bottom-style: solid;
                                    ">
            @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator")))
            {
                <a href="@Url.Action("Hide","ForumMessages",new{id = item.Id})" class="place-right fg-red">
                    <i class="icon-remove fg-red"
                       data-hint="Скрыть"
                       data-hint-position="top">
                    </i>
                </a>
            }
            <a class="button bg-transparent fg-gray  place-right">
                <i class="icon-calendar on-left"></i>
                @item.tForumMessages_datetime
            </a>
            <div class="fg-gray" style="margin-left:10px;">
                @item.tUsers.Name_Org
            </div>
        </div>
        <table>
            <tr>
                <td style="vertical-align:top;text-align: center;width: 10%;border-right:1px dotted lightgray">
                    <span class="tile-status">
                        @item.tUsers.NickName
                    </span>
                    <div class="tile half" style="margin:10px; left:20%">
                        <div class="tile-content icon">
                            @{
                                var item1 = item;
                            }
                            @foreach (var r in ((IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)ViewData["roles"]).Where(r => item1.tUsers.Roles.Any(a => a.RoleId == r.Id)))
                            {
                                switch (r.Name)
                                {
                                    case "admin":
                                        <i class="icon-user fg-darkRed"></i>
                                        break;
                                    case "moderator":
                                        <i class="icon-user fg-darkGreen"></i>
                                        break;
                                    default:
                                        <i class="icon-user fg-gray"></i>
                                        break;
                                }
                            }
                        </div>
                    </div>                    
                </td>
                <td>
                    <div class="row padding5">
                        @Html.Raw(item.tForumMessages_messages)
                    </div>
                </td>
            </tr>
        </table>               
        @if(item.tUsers_Edit_name != null)
        {
            <div class="row bg-white">
                <em class="small">Отредактировано @item.tUsers_Edit_name.NickName - @item.tUsers_Edit_datetime</em>
            </div>
        }
        @{
        var vm = item.toffer;
        if (vm.Count != 0)
        {
            <div class="row bg-white">
                Поставлено замечание №
                @foreach (var i in vm)
                {
                    <em>@i.tOffer_docnumber;</em>
                }
            </div>
        }
        }
        @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator")))
        {
            <div class="row bg-white">
                <a href="@Url.Action("CreateOffer", "Moder", new { id_mess = item.Id, id_theme = 0})"
                   class="button bg-transparent fg-gray  place-left">
                    <i class="icon-plus on-left"></i>
                    Замечание
                </a>
                <a href="@Url.Action("Edit", "ForumMessages", new { id = item.Id})"
                   class="button bg-transparent fg-gray  place-right">
                    <i class="icon-pencil on-left"></i>
                    Редактировать
                </a>
            </div>
        }
    </div>
}

@if (!(bool)ViewData["tForumThemes_close"] && User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator") || User.IsInRole("user")))
{
    <hr />
    @section CKE{
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    }
    <div class="panel">
        <div class="panel-header gradient_header fg-black">
            <h4 class="fg-white">Быстрое сообщение</h4>
        </div>
        <div class="panel-content">
            @using (Html.BeginForm("Create", "ForumMessages", new { id = ViewData["ForumThemes_Id"] }, FormMethod.Post, new { @class = "bg-white" }))
            {
                <div class="padding10">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <legend></legend>
                        <div class="input-control textarea">
                            <textarea id="tForumMessages_messages" name="tForumMessages_messages" class="ckeditor"></textarea>
                        </div>
                        <button class="element button_reg gradient_header fg-white" type="submit" style="margin-top:10px; border-radius:7px;">
                            Создать
                        </button>
                    </fieldset>
                </div>
            }
        </div>
    </div>
    <script type="text/javascript">
        CKEDITOR.replace('tForumMessages_messages', {
            filebrowserImageUploadUrl: '@Url.Action("UploadImage","Upload")'
        });
    </script>
}
<hr/>
<div class="row" style="bottom:20px">
    <div class="container">
        @Html.Partial("_Stat")
    </div>
</div>